<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite   name="Suite">
<listeners>
<listener class-name="SoftwareTesting.TestComponents.Listeners"></listener>
</listeners>
  <test thread-count="5" name="Demo">
    <classes>
    <!-- -->      <class name="SoftwareTesting.Test.SubmitOrderTest"/>

    </classes>
  </test> <!-- Test -->
  
    <test thread-count="5" name="Error">
    <classes>
      
      <class name="SoftwareTesting.Test.ErrorValidation"/>
    </classes>
  </test> <!-- Test -->
  
    
</suite> <!-- Suite -->
